body{
    background: url("fofa.jpg");
    
    }
body{ 
        font-size:25px; 
    }
    #botao{ text-align: center }
.botao{
    width: 350px;
    text-align: center;
    padding: 15px 20px;
    border: 1px solid #777777;
    border-radius: 6px;
    background-color: rgb(252, 251, 250);
    font-size: 18px;
   
}
