body{
    background: url("../img/fofa.jpg");

    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    background: #7f8c8d;
}
.box h1{


color:white;
text-transform: uppercase;
font-weight: 300;
font-size: 30px;
}

.box{
    width: 300px;
    padding: 40px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background: #191919;
    text-align: center;
    border-radius:23px;


}

.box input [type="text"],.box input[type="password"]{
    border:0;
    background: none;
    display: block;
    margin:20px auto;
    text-align: center;
    color:white;
    border: 1.5px solid #2980b9;
    padding:14px 10px;
    width:200px;
    outline:none;
    transition: 0.30s;
    font-size :14px;

}
.box input [type="text"]:focus,.box input[type="password"]:focus{
    width: 200px;
    border-color: aqua;

}
.box input [type="submit"]{
    border:0;
    background: none;
    display: block;
    margin:20px auto;
    text-align: center;
    color:white;
    border: 1.5px solid #2980b9;
    padding:14px 40px;
    outline:none;
    transition: 0.30s;
    font-size :14px;
    border-radius: 30px;
    cursor:pointer;
}
.box input [type="submit"]:hover{
    background: #27ae60;
}
