.perfil{
    width: 50%;
}
.dados{
    position:relative;
    padding: 20px;
    width: 350px;
    height: 560px;
    float: left;
    font-size: 20px;
    margin-top:16px!important;
    margin-left:16px;
    margin-inline-end: 20px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.barra{
    color:#000!important;
    background-color:#f1f1f1!important;
    border-radius:16px;
    font-size:12px!important;
    width: 100%;
    
}
.tarefasConcluidas,.tarefasNaoConcluidas,.tarefasEmEspera{
    padding:0.01em 16px;
    color:#000!important;
    text-align: center;
    background-color:#dd26b5!important;
    color:#fff!important;
    border-radius:16px;
    font-size: 16px;
}

.tarefasConcluidas{
    background-color:#0cf53f!important;
    width: 40%;
}

.tarefasNaoConcluidas{
    background-color:#f50c0c!important;
    width: 10%;
}

.tarefasEmEspera{
    background-color:#0ca0f5!important;
    width: 70%;
}

.tarefas{
    position:relative;
    box-sizing:content-box;
    padding: 20px;
    width: 850px;
    height: 560px;
    float: left;
    font-size: 20px;
    margin-top:16px!important;
    margin-bottom:16px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}


